.container1{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(220, 248, 207);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.container2{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(232, 142, 142);padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
thead{
    background-color: #4CAF50;
    color: white;
}
td, th{
    border: 1px solid #ddd;
    padding: 8px;
    
}
caption{
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
}